h2
  #{district.name}

h4 Candidates
ul
  each candidate in district.candidates
    li
      #{candidate.firstname} #{candidate.lastname} - #{candidate.totalvotes}


h4 Polls
ul
  each poll in district.polls
    li
      <a href="#" class="poll-link" id="poll-#{district.number}-#{poll.poll}">#{poll.poll} - #{poll.name}</a>


