p
  << <a href="#" class="district-link" id="district-#{district.number}">Back to #{district.name}</a>
h2
  #{district.name}
h3
  #{poll.name}

h4 Candidates
ul
  each candidate in poll.candidates
    li
      #{candidate.firstname} #{candidate.lastname} - #{candidate.pollvotes}
      - if (candidate.pollleading)
        | (Lead: #{candidate.polllead})


